# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/

# Node/React
node_modules/
dist/
build/

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

# Virtual environments
*.env

# Local SQLite DB backups
*.db-journal

# Unwanted folders
pyache/
